
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
  }

  
.noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    
  }